
  .light {
  fill: #64121a;
  animation-name: light-on;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

  @keyframes light-on {
  0% { fill: #6a0c15; }
  100% { fill: #ec5565; }
} div {
    width: min-content;
    
}  
