<h2>Ventas Mensuales 2020 por Sucursales</h2>
<table>
    <thead>
        <tr>
            <th>Mes</th>
            <th>Santa Fe</th>
            <th>Paraná</th>
            <th>Santo Tomé</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Enero</td>
        <td>{{sf[0]}}</td>
        <td>{{pa[0]}}</td>
        <td>{{st[0]}}</td>
        <td>{{totalMes[0]}}</td>
    </tr>
    <tr>
        <td>Febrero</td>
        <td>{{sf[1]}}</td>
        <td>{{pa[1]}}</td>
        <td>{{st[1]}}</td>
        <td>{{totalMes[1]}}</td>
    </tr>
    <tr>
        <td>Marzo</td>
        <td>{{sf[2]}}</td>
        <td>{{pa[2]}}</td>
        <td>{{st[2]}}</td>
        <td>{{totalMes[2]}}</td>
    </tr>
    <tr>
        <td>Abril</td>
        <td>{{sf[3]}}</td>
        <td>{{pa[3]}}</td>
        <td>{{st[3]}}</td>
        <td>{{totalMes[3]}}</td>
    </tr>
    <tr>
        <td>Mayo</td>
        <td>{{sf[4]}}</td>
        <td>{{pa[4]}}</td>
        <td>{{st[4]}}</td>
        <td>{{totalMes[4]}}</td>
    </tr>
    <tr>
        <td>Junio</td>
        <td>{{sf[5]}}</td>
        <td>{{pa[5]}}</td>
        <td>{{st[5]}}</td>
        <td>{{totalMes[5]}}</td>
    </tr>
    <tr>
        <td>Julio</td>
        <td>{{sf[6]}}</td>
        <td>{{pa[6]}}</td>
        <td>{{st[6]}}</td>
        <td>{{totalMes[6]}}</td>
    </tr>
    <tr>
        <td>Agosto</td>
        <td>{{sf[7]}}</td>
        <td>{{pa[7]}}</td>
        <td>{{st[7]}}</td>
        <td>{{totalMes[7]}}</td>
    </tr>
    <tr>
        <td>Septiembre</td>
        <td>{{sf[8]}}</td>
        <td>{{pa[8]}}</td>
        <td>{{st[8]}}</td>
        <td>{{totalMes[8]}}</td>
    </tr>
    <tr>
        <td>Octubre</td>
        <td>{{sf[9]}}</td>
        <td>{{pa[9]}}</td>
        <td>{{st[9]}}</td>
        <td>{{totalMes[9]}}</td>
    </tr>
    <tr>
        <td>Noviembre</td>
        <td>{{sf[10]}}</td>
        <td>{{pa[10]}}</td>
        <td>{{st[10]}}</td>
        <td>{{totalMes[10]}}</td>
    </tr>
    <tr>
        <td>Diciembre</td>
        <td>{{sf[11]}}</td>
        <td>{{pa[11]}}</td>
        <td>{{st[11]}}</td>
        <td>{{totalMes[11]}}</td>
    </tr>
        <tr>
            <td style='font-size:18px;font-weight:lighter;'>Total</td>
            <td>{{totalSf}}</td>
            <td>{{totalPa}}</td>
            <td>{{totalSt}}</td>
            <td>{{totalTotal}}</td>
        </tr>
    </tbody
    ></table>