 <div>
<svg class="arbol" width="600" height="520" >
    <defs>
        <filter id="blur">
            <feGaussianBlur stdDeviation="15" />
        </filter>
        <filter id="blur2">
            <feGaussianBlur stdDeviation="9" />
        </filter>
    </defs>
    <!-- tronco  -->
    <ellipse cx="395" cy="490" rx="150" ry="30" fill="black" filter="url(#blur2)"opacity="0.6"/> 
    <polygon points="395 135 405 510 435 500"
      stroke="#5e2100" fill="#5e2100" stroke-width="1"/>
    <polygon points="395 135 355 500 405 510"
      stroke="#783e00" fill="#783e00" stroke-width="1"/>
    <!-- bajo -->
    <circle class="light" cx="260" cy="440" r="10"/>
    <circle class="light" cx="420" cy="475" r="10"/>
    <circle class="light" cx="535" cy="430" r="10"/>
    <polygon points="395 135 420 465 535 420 "
      stroke="#0F980F" fill="#0F980F" stroke-width="1"/> 
    <polygon points="395 135 260 430 420 465 "
      stroke="#3FC83F" fill="#3FC83F" stroke-width="1"/>
    <!-- medio -->
    <circle class="light" cx="285" cy="345" r="10"/>
    <circle class="light" cx="415" cy="370" r="10"/>
    <circle class="light" cx="505" cy="335" r="10"/> 
    <polygon points="395 135 415 360 505 325"
      stroke="#1FA81F" fill="#1FA81F" stroke-width="1"/> 
    <polygon points="395 135 285 335 415 360"
      stroke="#4FD84F" fill="#4FD84F" stroke-width="1"/>  
    <!-- alto -->
    <circle class="light" cx="310" cy="270" r="10"/>
    <circle class="light" cx="410" cy="290" r="10"/>
    <circle class="light" cx="480" cy="265" r="10"/>
    <polygon points="395 135 410 280 480 255"
      stroke="#2FB82F" fill="#2FB82F" stroke-width="1"/> 
    <polygon points="395 135 310 260 410 280"
      stroke="#5FE85F" fill="#5FE85F" stroke-width="1"/> 
    <!-- estrella -->
    <polygon points="395 80 390 115 370 124 385 135 380 170 397 140 415 160 408 130 420 105 400 111"
      stroke="#FFE53A" fill="#FFE53A" stroke-width="1"/> 
    <circle cx="395" cy="120" r="70"  fill="yellow" filter="url(#blur)"opacity="0.2"/> 
</svg></div>