table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    font-family:'Open Sans';
    text-align: center;
    
  }
  
  h2{
      font-family: 'Open Sans';
      text-align: left;
      
  }
  tr td {
     width: 100px;
     font-size:15px;
     color:rgb(88, 88, 88);
     padding-top: 5px;
     text-align: center;
     
  }
  th{
      font-size: 18px;
      color: white;
      font-weight:lighter;
      text-align: left;
      padding: 10px;
      
  }
  
  thead{
      background:#36324b ;
  }